@import 'colors';
@import 'constants';
@import 'fonts';
@import 'extends';

html {

    height: 100%;

}

body {

    background-color: $bg-color;
    color: $fg-color;
    height: 100%;
    overflow: hidden;

}

main {

    @extend %screen-center;

    width: 70%;
    height: 90%;

    background-color: $main-bg-color;
    border: 2px solid $brd-color;
    border-radius: 15px;
    display: flex;

}

.users, .messages, .input {

    background-color: $bg-color;
    border: 2px solid $brd-color;
    border-radius: 10px;

    margin: $gap-size;

}

.users {

    width: 25%;
    margin-right: $gap-size/2;

}

.chat {

    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .messages {

        height: 80%;
        margin-left: $gap-size/2;
        margin-bottom: $gap-size/2;
    
    }

    .input {

        height: 20%;
        margin-top: $gap-size/2;
        margin-left: $gap-size/2;

    }

}

.content {

    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
    padding: 5px;

    .stack {

        display: flex;
        flex-direction: column;
        height: 100%;

    }

}

.user {

    min-height: 3em;
    height: 3em;
    border: 1px solid white;
    margin: 2px;

}

.message {

    min-height: 5em;
    height: 5em;
    border: 1px solid white;
    margin: 2px;

}

